*{
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(71, 126, 71);
    text-align: center;
    padding: 15px;
    color: white;
}

nav {
    background-color: aquamarine;
    text-align: center;
    padding: 8px;
}

nav li {
    display: inline-block;
    margin-left: 15px;

}

section {
    display: inline-block;
    text-align: justify;

}

#glb {
    position: relative;
    float: left;
    margin-left: 90px;
    height: 400px;
    width: 42.13694507148232%; /* 448*100/1063,2= 42,13694507148232 */
    padding-left: 10px;
    border: 1px solid black;
    background-color: bisque;

}

#blm {
    float: right;
    width: 43.07750188111362%;  /* 458*100/1063,2= 43,07750188111362 */
    margin-left: 80px;
    padding-left: 10px;
    border: 1px solid black;
    height: 400px;
    background-color: bisque;

}
#foto1{
    height: 200px;
    padding-left: 100px;
}

#foto2{
    height: 180px;
    padding-left: 100px;

}


